body{ 
	padding-top: 50px; 
}
/*imagen de fondo*/
#bg-fondo{
	background: url("../image/large.jpg") no-repeat;
	background-size:100%;
	height: 45em;
}
.fondo{
	background-color: rgba(0,0,0,.4);
	background-size:100%;
	height: auto;
}
/*foto de iconos*/
.foto{
	max-width: 100%;
	height: 400px;
}
/*fondo azul*/
.bg-azul{
	background-color: rgba(78,127,184,0.6);
	padding: 3.3%;
}
/*margen*/
.mgb-30{
	margin-bottom: 20%;
}
/*color textos*/
.txt-blanco, .bg-icono{
	color: #fff
}
.txt-azul, .icono{
	color: #68ADFF;
}
/*imagenes*/
span.txt-azul, .redes{
	font-size: 2em;
}
/*logo texto*/
.logo{
	max-width: 40%;
	height: 50px;
	display: inline;
}
/*video*/
iframe{
	width: 100%;
	height: 275px;
}
/*icono*/
.icono{
	font-size: 3em;
}
/*icono con borde*/
.bg-icono{
	background-color: #50BDEA;
	font-size: 2em;
	padding: 2%;
	border-radius: 100%;
	position: absolute;
}
/*posicion icon*/
.top{
	top: 15%;
	left: 93%;
}
.center{
	top: 45%;
	left: 93%;
}
.bottom{
	bottom: 10%;
	left: 93%;
}
/*padding flecha*/
.pd-flecha{
	padding: 3% 40%;
}
/*redes*/
.redes{
	color: #3275A4;
}
/*icono linea*/
.separador{
	max-width: 8%;
	margin-left: 45%;
}

/*padding separacion*/
.pdtb-2{
	padding-top: 2%;
	padding-bottom: 2%;
}
/*negritas*/
strong{
	font-size: 1.5em;
}
/*boton*/
.btn{
	padding: 5% 10%;
	border: 0;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
/*texto principal*/
.grande{
	font-size: 3em;
	padding: 10%;
}
/*nombre empresa*/
a.name{
	text-decoration: none;
}
h4{
	color: #6987A4;
	font-size: 1.5em;
}
/*animacion fondo*/
.bg-pie{
	background-color: #2A3541;
	animation-name: navcolor;
	animation-duration: 2s;
}
@-webkit-keyframes navcolor{
	from{
		background-color: #2C68A8;
	}
	to{
		background-color: #2A3541;
	}
}