/*imagen de fondo*/
#bg-fondo{
	background: url("../image/large.jpg") no-repeat;
	background-size: 100% 100%;
}
/*foto de iconos*/
.foto{
	max-width: 100%;
	height: 400px;
}
/*fondo azul*/
.bg-azul{
	background-color: rgba(78,127,184,0.6);
	padding: 3.3%;
}
/*color textos*/
.txt-blanco, .bg-icono{
	color: #fff
}
.txt-azul, .icono, .fa{
	color: #68ADFF;
}
/*imagenes*/
span.txt-azul, .redes{
	font-size: 2em;
}
/*logo texto*/
.logo{
	max-width: 40%;
	height: 50px;
	display: inline;
}
/*video*/
iframe{
	width: 100%;
	height: 275px;
}
/*icono*/
.icono{
	font-size: 3em;
}
/*fondo de 3 iconos*/
.bg-icono{
	background-color: #50BDEA;
	font-size: 2em;
	padding: 2%;
	border-radius: 100%;
}
/*padding flecha*/
.pd-flecha{
	padding: 3%;
	transition: all 1s ease-in-out;
}
.pd-flecha:hover{
	transform: translateX(400%);
}
/*redes*/
.redes{
	color: #3275A4;
	padding-left: 3%; 
}
/*icono linea*/
.separador{
	width: 60px;
	margin-left: 45%;
	position: absolute;
	top: -30%;
}
/*linea*/
hr{
	border: 1px solid #72A1D9;
	width: 100%;
}
/*negritas*/
strong{
	font-size: 1.5em;
}
/*boton*/
.btn{
	padding: 5% 10%;
	border: 0;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
/*nombre empresa*/
a.name{
	text-decoration: none;
}
h4{
	color: #6987A4;
	font-size: 1.5em;
}
/*pie de pagina*/
.bg-pie{
	background-color: #2A3541;
}
/*modal*/
label{
	color: #000;
}
/*boton de modal*/
.btn-info{
	padding: 2%;
}
/*padding separacion*/
.pdtb-2{
	padding-top: 2%;
	padding-bottom: 2%;
}
.pdt-10{
	padding-top: 10%;
}
/*borde blanco de 3 iconos*/
.borde{
	border-radius: 100%;
	background: #fff;
	box-shadow: 5px 5px 40px 5px rgba(0,0,0,0.24);
}

