@media screen and (min-width: 940px) {
	/*texto principal*/
	.grande{
		font-size: 3em;
		color: #FFF;
		padding: 10%;
		text-shadow: 4px 3px 8px rgba(0, 0, 0, 1);
		animation-name: texto-grande;
		animation-duration: 3s;
	}	
	/*animacion*/
	@-webkit-keyframes texto-grande{
		from{
			color: #FFF;
		}
		to{
			color: #090760;
		}
	}
	/*icono con borde*/
	.borde{
		padding: 10%;
	}
	/*posicion de iconos*/
	.bg-icono{
		position: absolute;
		left: 93%;
	}
	#top{
		top: 15%;
	}
	#center{
		top: 45%;
	}
	#bottom{
		bottom: 15%;
	}
	/*animacion nuestros servicios*/
	.icono{
		animation: iconito 5s infinite;
	}	
	
	@-webkit-keyframes iconito{
		0% {
			background-color: #97CEC7;
		}
		100% {
			background-color: #fff;
		}
	}
}
@media screen and (max-width: 600px) {
	.grande{
		font-size: 2em;
		padding: 10%;
		color: #FFF;
		text-shadow: 4px 3px 8px rgba(0, 0, 0, 1);
	}
	/*icono con borde*/
	.borde{	
		padding: 5%;	
	}
	/*posicion de iconos*/
	.bg-icono{
		margin-left: 18%;
	}
	.btn{
		margin-top: 15%;
	}	
}